.about {
    min-height: 2000px;
    height: auto;
    max-width: 3000px;
}

.about h3 {
    text-shadow: 0 0 10px white;
}

.about svg {
    animation: rotating 10s infinite linear;
    font-size: clamp(30px, 1.5vw, 60px);
}

.about-header {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: clamp(24px, 1.5vw, 160px);
    font-weight: 100;
}

.about-header h2 {
    font-size: clamp(30px, 7vw, 160px);
    font-weight: 400;
}


.about-header-background {
    height: 500px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.about-panel {
    width: 100%;
    padding: 0 10%;
    display: flex;
}

.about-panel button {
    border: none;
    padding-top: 5px;
    border-radius: 0;
    cursor: pointer;
    border-bottom: 1px solid white;
    transition-duration: 0s;
    font-size: 18px;
    height: 50px;
}

.about-panel button:hover {
    background: rgba(0, 0, 0, 0);
    color: white;
    text-shadow: 0 0 10px white;
}

.about-panel .activated-button {
    border: 1px solid white;
    border-bottom: 0;
    border-radius: 10px 10px 0 0;
    cursor: default;
    padding-bottom: 2px;
}

.about-panel .activated-button:hover{
    text-shadow: none;
}

.about-panel:after {
    display: block;
    content: "";
    width: auto;
    flex: 1 1 auto;
    box-sizing: border-box;
    height: 50px;
    border-bottom: 1px solid white;
}

.about-info-container {
    position: relative;
    width: 80%;
    margin: auto;
}

.about-info {
    width: 100%;
    top: 40px;
    position: absolute;
    opacity: 1;
    transition-duration: 0.3s;
    left: 0;
}

.about-info-hidden {
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: -1;
    user-select: none;
    cursor: default;
}

.about-info h3 {
    font-weight: 400;
    font-size: clamp(30px, 4vw, 100px);
    margin-bottom: 20px;
}

.about-info p {
    font-weight: 100;
    margin: 20px 0;
    font-size: clamp(16px, 1.1vw, 48px);
}

.about-info ul {
    margin: 10px 40px;
    width: 400px;
    background: #2f003a;
    padding: 20px;
    border-radius: 10px;
}

.about-info ul li {
    list-style: none;
    font-size: clamp(24px, 1.2vw, 60px);
    font-weight: 300;
    margin-top: 10px;
}

.about-info .attention {
    font-weight: 300;
    font-size: clamp(20px, 1.2vw, 60px);
    background: #3c002e;
    padding: 20px;
    border-radius: 10px;
}

.about .p-main {
    font-weight: 400;
    font-size: clamp(20px, 1.3vw, 60px);
}

.about p a{
    text-shadow: 0 0 3px #e6e6e6;
    font-weight: 300;
    transition-duration: 0.3s;
    color: #e3e3e3;
    cursor: pointer;
}

.about p a:hover{
    color:white;
    text-decoration: underline;
    text-decoration-style: solid;
    text-shadow: 0 0 20px white;
}
.about .about-info .about-block{
    display: flex;
    flex-wrap: wrap;
    gap:40px;
}
.about .about-info .about-block .number{
    width: 150px;
    height: 150px;
}