.mine-header-container {
    height: 400px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    min-width: 500px;
    justify-content: center;
}

.mine-header-anim-container {
    background: radial-gradient(circle at center top, black, rgba(30, 199, 83, 0.1), rgba(30, 199, 83, 0.49));
}

.mine-header-container .mine-logo svg {
    height: 5vw;
    min-height: 40px;
    max-height: 130px;
    padding: 20px;
    border: 2px solid rgba(255, 255, 255, 0.65);
    border-radius: 20px;
    margin-right: 10px;

}

.mine-header {
    width: 50%;
    animation: mine-logo-show 0.5s 0.1s both;
    opacity: 0;

}

.mine-logo {
    animation: mine-logo-show 0.5s;
}


.mine-header-container h2, .mine-header-container span {
    display: block;
    font-weight: 400;
    font-size: clamp(36px, 4vw, 100px);
}

.mine-header-container span {
    font-size: clamp(24px, 2vw, 64px);
}

.mine-field td {
    background-color: rgba(117, 117, 117, 0.95);
    width: 45px;
    height: 45px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    border-radius: 2px;
}

.mine-field .opened {
    background-color: rgba(51, 51, 51, 0.7);
    cursor: default;
}

.mine-field .bomb {
    background-color: rgb(150, 38, 38);
}

.mine-field .detected {
    cursor: default;
    background-color: rgba(82, 82, 82, 0.9);
}

.mine-field .detected path {
    color: #ff4f4f;
}

.mine-field .closed:hover {
    background-color: rgba(117, 117, 117, 0.8);
}

.mine-links {
    margin: auto;
    width: 90%;
    max-width: 2000px;
    min-width: 1000px;
    display: flex;
    gap: 40px;
}

.mine-links div {
    width: 40%;
}

.mine-links div a {
    font-size: clamp(10px, 1.2vw, 24px);
    min-width: 400px;
    width: auto;
    height: auto;
    aspect-ratio: 5 / 1;
    margin: 5px 0;
}

.mine-rules {
    background: rgba(0, 0, 0, 0.75);
    width: 60%;
    border-radius: 10px;
    padding: 30px;
    font-weight: 300;
    font-size: 20px;
}

.mine-rules h3 {
    font-weight: 400;
    margin-bottom: 20px;
    padding-left: 10px;
    border-left: 2px solid white;
    font-size: 28px;
}

.mine-rules p {
    margin-bottom: 10px;
    font-size: clamp(16px, 1.2vw, 24px);
}

.mine-rules ul {
    margin-left: 20px;
}

.mine-rules li {
    margin: 5px 0;
    font-size: clamp(16px, 1.2vw, 24px);
    list-style: none;
}

.mine-rules li svg {
    margin-right: 10px;
}

.mine-info-panel {
    width: 942px;
    margin: auto;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    border: 1px solid white;
    border-radius: 10px;
    padding: 0 40px;
    margin-bottom: 10px;
}

.panel-attributes {
    display: flex;
    width: 50%;
    gap: 60px;
    font-size: 24px;
}

.panel-attributes div {
    display: flex;
    gap: 10px;
}

.mine-field {
    margin: auto;
    margin-bottom: 40px;
}

.mine-loose {
    position: absolute;
    left: calc(50vw - 940px / 2);
    width: 940px;
    height: 706px;
    background-color: rgba(0, 0, 0, 0.37);
    flex-direction: column;
    gap: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: show-mine-modal 300ms 200ms both;
    backdrop-filter: blur(2px);
}

@keyframes show-mine-modal {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.mine-loose h3 {
    font-weight: 400;
    font-size: clamp(16px, 3vw, 42px);
}

