.mine-field{
}

.mine-field td{
    background-color: #5e5e5e;
    width: 50px;
    height: 50px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.mine-field .opened{
    background-color: rgb(31, 31, 31);
    cursor: default;
}
.mine-field .detected{
    cursor: default;
    background-color: #414141;
}
.mine-field .detected path{
    color: #ff4f4f;
}
.mine-field .closed:hover{
    background-color: #707070;
}